<div class="main" *ngIf="isOpen" #mainDiv>
    <div class="close" #closeDiv>
        <button (click)="close()" class="close-button">X</button>
    </div>
    <div class="content-wrap">
        <h3>Create new client</h3>
        <div class="info">
            <div class="input-wrap">
                <label for="clientName">Client Name</label>
                <br>
                <input type="text" id="clientName" name="clientName" #client>
            </div>
            <div class="input-wrap">
                <label for="clientEmail">Client Email</label>
                <br>
                <input type="email" id="clientEmail" name="clientEmail" #email>
            </div>
        </div>
        <div class="button-wrap">
            <button (click)="createClient(client.value, email.value)">🖳&#xFE0E; Create new client</button>
        </div>
    </div>
</div>