<div class=main>
  <div class=navbar-main>
    <button id="task" class=navbar-button routerLink="/tasks"><span
        class="symbol-large">📝&#xFE0E;</span><br>Tasks</button>
    <button id="user" class=navbar-button routerLink="/users"><span
        class="symbol-large">👥&#xFE0E;</span><br>Users</button>
    <button id="irequest" class=navbar-button routerLink="/irequest"><span
        class="symbol-large">🖅&#xFE0E;</span><br>Inbound<br>requests</button>
    <button id="projects" class=navbar-button routerLink="/projects"><span
        class="symbol-large">🗗&#xFE0E;</span><br>Projects</button>
    <button id="fproject" class=navbar-button routerLink="/fprojects"><span
        class="symbol-large">🗐&#xFE0E;</span><br>Final<br>projects</button>
    <button class=navbar-button id="kbase" routerLink="/kbase"><span
        class="symbol-large">📚&#xFE0E;</span><br>Knowledge<br>base</button>
    <button class=navbar-button id="clients" routerLink="/clients"><span
        class="symbol-large">🏢&#xFE0E;</span><br>Clients</button>
    <button class=navbar-button id="activity" routerLink="/activity"><span
        class="symbol-large">📜&#xFE0E;</span><br>Activity<br>log</button>
    <button id="logout" (click)="logout()">{{ fullName }}<br>🔒&#xFE0E; Log out</button>
  </div>
</div>